/node_modules
/dist
/build
/public
/src
/test
/tsconfig.json
/tsconfig.app.json
/tsconfig.spec.json
/tsconfig.app.json

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

gitignore