#contact {
  color: #1f646f;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.mailTo {
  border: 1px solid #1f646f;
  width: max-content;
  padding: 1rem;
  min-width: 200px;
  margin: 5% auto 0 auto;
}
