.banner-main {
  background: #000000ff; /* #e2b659; */
  position: relative;
  height: 100vh;
}

.myself2 {
  animation-iteration-count: infinite;
  animation-name: swe;
  position: fixed;
}

.ballContainer {
  position: fixed;
  z-index: 1;
  height: 100vh;
}

#ball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: fixed; /* ball with move with reference to this */
  z-index: 10;
}
/* changing the */
@keyframes bounce {
  /* percentage of time */
  0% {
    top: 0px; /* top of parent */
    background-color: white;
  }
  40% {
    top: 50%; /* height of parent */
    background-color: black;
  }
  50% {
    top: 55%;
    background-color: black;
  }
  90% {
    top: 100%;
    background-color: #137e40;
  }
  100% {
    top: 0px;
    background-color: rgb(63, 63, 131);
  }
}

button.btn-knowMore {
  padding: 1rem;
  background: no-repeat;
  border: 1px solid #ecf0f1;
  margin-top: 2%;
  color: #ecf0f1;
  border-style: double;
}

button.btn-knowMore:hover {
  outline: auto;
  background: none;
  font-weight: 600;
  animation-name: bounce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

button.btn-knowMore:focus {
  outline: auto;
}

@keyframes bounce {
  0% {
    background-color: rgb(170, 170, 216);
  }
  /* percentage of time */
  100% {
    background-color: rgb(63, 63, 131);
  }
}
