.App {
  text-align: center;
}
.center-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
.underline {
  text-decoration: underline;
}
button.download-btn {
  outline: none;
  position: fixed;
  z-index: 999;
  right: 2%;
  bottom: 3%;
  font-size: x-large;
  background: tomato;
  padding: 1.2rem;
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumeObject {
  position: absolute;
  top: 10%;
  left: 18%;
  z-index: 2;
  height: 80vh;
  width: 70%;
}
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
   .banner {
    transform: rotate(180deg);
  }
} */
/* 
img {
  image-orientation: from-image;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#resume {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  background: none;
}

#resume:focus {
  outline: none;
}

h1 > em {
  font-size: 60px;
  font-style: normal;
  /*  color: #f39c12; */
}

h2 > em {
  font-size: 20px;
  font-style: normal;
  color: #2f4858f0;
  text-decoration: underline;
}

.header {
  color: white;
  display: flex;
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header.normal {
  background: #000000a0;
}

.header > span {
  padding: 0 2rem;
  font-size: large;
  height: 100%;
}

.header.top > span > a {
  color: White;
}

span:hover {
  border-bottom: white;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

/* span:hover {
  background: #000000a0;
  color: tomato;
  transition: all 0.5s ease-in-out;
} */

h1 {
  font-weight: 500;
  font-size: 40px;
}
h2 {
  font-size: 20px;
  font-weight: 300;
}

.section {
  text-align: center;
  padding: 6em 0;
  height: 100vh;
}

.section > h3 {
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 5px;
}

.section > p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1rem 5rem;
  line-height: 3rem;
}

.skillSet {
  line-height: 30px;
  padding: 15px;
}

ul {
  text-align: initial;
}

a.mailTo {
  display: block;
  border: 2px solid white;
  width: max-content;
  padding: 1rem;
  margin-top: 5%;
  min-width: 200px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.links > div {
  cursor: pointer;
}

.links > span {
  padding: 0 1.5rem;
}
.links > span:hover {
  background: none;
}

@media (min-width: 360px) {
  .ml-5 {
    margin-left: 10px;
  }
  .header {
    height: 50px;
  }
  .header.top > span > a {
    font-size: small;
    padding: 7px;
  }
  .banner-main {
    height: 100vh;
  }
  .banner.banner-waves {
    height: 50px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 15px;
  }
  a {
    letter-spacing: 0px;
  }
  .header > span {
    padding: 0 5px;
    font-size: unset;
  }
  .section {
    padding: 1rem 0;
  }
  .section > p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
  }
  .section > h3 {
    font-size: 22px;
  }
}

.myself {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 80px;
}

@media (min-width: 576px) {
  .header > span {
    padding: 0 0.8rem;
    height: 100%;
  }
  .banner.banner-waves {
    height: 60px;
  }
  .section {
    padding: 2rem 0;
  }
  .section > p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2rem;
    padding: 1rem 3rem;
  }
  .section > h3 {
    font-size: 30px;
  }
  h1 {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .header > span {
    padding: 0 2rem;
    font-size: large;
    height: 100%;
  }
  .banner.banner-waves {
    height: 71px;
  }
  a {
    letter-spacing: 3px;
  }

  h1 {
    font-weight: 500;
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
  }

  .header.top > span > a {
    font-size: large;
    padding: 7px;
  }
}

@media (min-width: 992px) {
  .banner.banner-waves {
    height: 120px;
  }
}

@media (min-width: 1200px) {
}
