@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
}
* {
  font-family: sans-serif; /* sans-serif will be used as temporary font until Roboto is available */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #1f646f;
}

body {
  margin: 0;
  background-color: #ace4fc;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
