body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: black;
  color: white;
  padding: 10px;
}

* {
  font-family: 'Source Code Pro', monospace;
}
  code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a {
  cursor: pointer;
  text-decoration: none;
  color: navajowhite;
}